In [42]:
import pandas as pd
from moexalgo import Market, Ticker

In [38]:
df = pd.read_csv('data/ListingSecurityList.csv', engine='python', encoding='cp1251', sep=';')

In [39]:
df.columns

Index(['DATESTAMP', 'INSTRUMENT_ID', 'LIST_SECTION', 'RN', 'SUPERTYPE',
       'INSTRUMENT_TYPE', 'INSTRUMENT_CATEGORY', 'TRADE_CODE', 'ISIN',
       'REGISTRY_NUMBER', 'REGISTRY_DATE', 'EMITENT_FULL_NAME', 'INN',
       'NOMINAL', 'CURRENCY', 'ISSUE_AMOUNT', 'DECISION_DATE', 'OKSM_EDR',
       'ONLY_EMITENT_FULL_NAME', 'REG_COUNTRY', 'QUALIFIED_INVESTOR',
       'HAS_PROSPECTUS', 'IS_CONCESSION_AGREEMENT', 'IS_MORTGAGE_AGENT',
       'INCLUDED_DURING_CREATION', 'SECURITY_HAS_DEFAULT',
       'SECURITY_HAS_TECH_DEFAULT', 'INCLUDED_WITHOUT_COMPLIANCE',
       'RETAINED_WITHOUT_COMPLIANCE', 'HAS_RESTRICTION_CIRCULATION',
       'LISTING_LEVEL_HIST', 'OBLIGATION_PROGRAM_RN', 'COUPON_PERCENT',
       'EARLY_REPAYMENT', 'EARLY_REDEMPTION', 'ISS_BOARDS', 'OTHER_SECURITIES',
       'DISCLOSURE_PART_PAGE', 'DISCLOSURE_RF_INFO_PAGE', 'INCLUDE_DATE',
       'CFI_FOREIGN', 'ISIN_UNDERLYING_ASSET', 'CFI_UNDERLYING_ASSET',
       'PIF_STATUS', 'PIF_STATUS_HIST', 'OBLIGATION_PROGRAM_DATE',
       'ISS_BOARDS_HASH', 'OTHER_SECURITIES_HASH', 'CACHING_TIMESTAMP',
       'Unnamed: 49'],
      dtype='object')

In [40]:
df = df[['TRADE_CODE','EMITENT_FULL_NAME','INSTRUMENT_TYPE', 'LIST_SECTION', 'INSTRUMENT_CATEGORY','CURRENCY']]

In [41]:
df[(df['INSTRUMENT_TYPE'] == 'Акция обыкновенная') | (df['INSTRUMENT_TYPE'] == 'Акции иностранного эмитента')]

,TRADE_CODE,EMITENT_FULL_NAME,INSTRUMENT_TYPE,LIST_SECTION,INSTRUMENT_CATEGORY,CURRENCY
11,CBOM,"""МОСКОВСКИЙ КРЕДИТНЫЙ БАНК"" (публичное акционе...",Акция обыкновенная,Первый уровень,акции обыкновенные,Рубль
26,POLY,Polymetal International plc,Акции иностранного эмитента,Первый уровень,Акции обыкновенные бездокументарные именные,Доллар США
27,YNDX,Public Limited Liability Company Yandex N.V.,Акции иностранного эмитента,Первый уровень,Обыкновенные именные бездокументарные акции кл...,Евро
41,ALRS,"Акционерная компания ""АЛРОСА"" (публичное акцио...",Акция обыкновенная,Первый уровень,акции обыкновенные,Рубль
101,VTBR,Банк ВТБ (публичное акционерное общество),Акция обыкновенная,Первый уровень,акции обыкновенные,Рубль
...,...,...,...,...,...,...
3782,SAGO,Публичное акционерное общество энергетики и эл...,Акция обыкновенная,Третий уровень,акции обыкновенные,Рубль
3784,SLEN,Публичное акционерное общество энергетики и эл...,Акция обыкновенная,Третий уровень,акции обыкновенные,Рубль
3823,PRMB,"акционерный коммерческий банк ""Приморье"" (пуб...",Акция обыкновенная,Третий уровень,акции обыкновенные,Рубль
3891,KMEZ,"публичное акционерное общество ""Ковровский мех...",Акция обыкновенная,Третий уровень,акции обыкновенные,Рубль
3904,ARSA,"публичное акционерное общество ""Управляющая ко...",Акция обыкновенная,Третий уровень,акции обыкновенные,Рубль

In [43]:
# Акции SBER
sber = Ticker('POLY')

# Все акции
stocks = Market('stocks')

In [44]:
# Свечи по акциям SBER за период
sber.candles(date='2023-10-10', till_date='2023-10-18', period='10m').head()

,open,close,high,low,value,volume,begin,end
0,525.3,525.3,525.3,525.3,2129566.2,4054.0,2023-10-10 09:50:00,2023-10-10 09:59:59
1,525.2,520.9,525.2,519.5,35211261.8,67509.0,2023-10-10 10:00:00,2023-10-10 10:09:59
2,521.2,519.3,522.7,517.3,27345103.6,52578.0,2023-10-10 10:10:00,2023-10-10 10:19:59
3,518.8,519.0,519.5,516.3,23626505.3,45626.0,2023-10-10 10:20:00,2023-10-10 10:29:59
4,519.1,519.3,519.4,518.3,6536669.2,12599.0,2023-10-10 10:30:00,2023-10-10 10:39:59

In [45]:
# Данные по акциям SBER за период
sber.tradestats(date='2023-10-10', till_date='2023-10-18').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
0,POLY,2023-10-10,10:05:00,525.2,525.2,520.1,521.5,0.0006,49832,26003519.0,...,388,536,9434366.0,16569152.0,18069,31763,-0.27,522.1,521.6,2023-10-26 15:44:37
1,POLY,2023-10-10,10:10:00,521.2,521.8,519.5,520.9,0.0003,17677,9207742.0,...,204,314,3774020.0,5433722.0,7240,10437,-0.18,521.3,520.6,2023-10-26 15:44:38
2,POLY,2023-10-10,10:15:00,521.2,522.7,520.5,521.8,0.0003,16104,8401222.0,...,183,146,4696774.0,3704447.0,8999,7105,0.12,521.9,521.4,2023-10-26 15:44:38
3,POLY,2023-10-10,10:20:00,521.8,522.3,517.3,519.3,0.0003,36474,18943881.0,...,200,492,1989287.0,16954594.0,3825,32649,-0.79,520.1,519.3,2023-10-26 15:44:39
4,POLY,2023-10-10,10:25:00,518.8,519.4,516.3,518.5,0.0002,34749,17982224.0,...,285,497,4033887.0,13948337.0,7789,26960,-0.55,517.9,517.4,2023-10-26 15:44:39

In [46]:
# Данные по всем акциям за дату. Чтобы получить данные за период, нужно запустить цикл по датам
stocks.tradestats(date='2023-10-10').head()

,ticker,tradedate,tradetime,pr_open,pr_high,pr_low,pr_close,pr_std,vol,val,...,trades_b,trades_s,val_b,val_s,vol_b,vol_s,disb,pr_vwap_b,pr_vwap_s,systime
0,ABIO,2023-10-10,10:05:00,119.520,119.800,114.000,117.380,0.0017,45904,53480659.0,...,647,790,26741563.0,26739095.0,22932,22972,0.00,116.610,116.400,2023-10-26 15:44:37
1,ABRD,2023-10-10,10:05:00,305.600,307.400,305.600,306.600,0.0007,480,1471600.0,...,36,13,1141020.0,330580.0,372,108,0.55,306.700,306.100,2023-10-26 15:44:37
2,AFKS,2023-10-10,10:05:00,17.601,17.606,17.501,17.511,0.0003,10943,19184629.0,...,206,152,5859774.0,13324855.0,3341,7602,-0.39,17.539,17.528,2023-10-26 15:44:37
3,AFLT,2023-10-10,10:05:00,40.560,40.590,40.470,40.550,0.0004,4517,1830400.0,...,139,46,1352553.0,477847.0,3337,1180,0.48,40.530,40.500,2023-10-26 15:44:37
4,AGRO,2023-10-10,10:05:00,1200.000,1209.600,1200.000,1209.600,0.0004,5834,7036248.0,...,265,60,5784024.0,1252224.0,4795,1039,0.64,1206.300,1205.200,2023-10-26 15:44:37